:root{
    --primary-color:  #da4747;
}

#modal-container {
  display: none;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
}

button:hover, button:focus {
    cursor:pointer;
    opacity: 0.8;
  }

.pokemonButton:hover, .pokemonButton:focus {
    cursor:pointer;
    opacity: 0.8;
    color: white;
}

display: grid;
text-align: center;

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}